In [1]:
import pandas as pd

In [ ]:
new_inv = pd.read_excel('inv_data\BY_InventoryListAll.xls', skiprows=3)

WARNING *** file size (5422976) not 512 + multiple of sector size (512)

In [8]:
column_list = list(new_inv.columns)
comp_name = 'BY'
itemlookupcode = 'Barcode'

# Select Company Inventory column
comp_inv = 'O/H'

# Select Description column
description = 'Item Name'

# Select Extended Description column
ext_desc = 'Color'

In [12]:
new_inv = new_inv[[itemlookupcode, comp_inv, description, ext_desc]]
# 842045006254

new_inv.insert(0, 'Company', comp_name)

In [13]:
new_inv

      Company       Barcode  O/H  Item Name       Color
0          BY  885160294489   70  134 CANNA           1
1          BY  885160294496   15  134 CANNA          1B
2          BY  885160294533    0  134 CANNA       4N274
3          BY  885160294540    0  134 CANNA      BT4007
4          BY  885160294502   23  134 CANNA       F2842
...       ...           ...  ...        ...         ...
32651      BY  885160246532    0    ZZR LOA        SNOW
32652      BY  885160246464    0    ZZR LOA     SP1B/30
32653      BY  885160252335    0    ZZR LOA       SP427
32654      BY  885160257224    0    ZZR LOA       SP430
32655      BY  885160246471    0    ZZR LOA  YELLOW API

[32656 rows x 5 columns]

In [ ]:
column_list = list(new_inv.columns)

        # Select Company name
        # company_list = ['AL', 'VF', 'BY', 'OUTRE','HZ']
        comp_name = 'BY'

        # Select UPC column
        itemlookupcode = 'Barcode'

        # Select Company Inventory column
        comp_inv = 'O/H'

        # Select Description column
        description = 'Item Name'

        # Select Extended Description column
        ext_desc = 'Color'

        # Merge needed columns
        new_inv = new_inv[[itemlookupcode, comp_inv, description, ext_desc]]

        new_inv.insert(0, 'Company', comp_name)

        # rename columns
        new_inv.columns = self.column_name

        # pre processing
        new_inv = new_inv.dropna(subset=['UPC', 'company Inventory'])
        new_inv['company Inventory'] = new_inv['company Inventory'].astype('int')
        # new_inv['UPC'] = new_inv['UPC'].astype('int64')
        new_inv.loc[new_inv['company Inventory']<10, 'company Inventory'] = 0

        # delete exist data
        self.all_upc_inv.drop(self.all_upc_inv[self.all_upc_inv['COMPAY']==comp_name].index, inplace=True)

        # 
        self.all_upc_inv = pd.concat([self.all_upc_inv, new_inv])

        # reset index
        self.all_upc_inv = self.all_upc_inv.reset_index(drop=True)

In [5]:
new_inv[new_inv['Barcode']=='842045006254']

     Item Name  Unnamed: 1 Color Class  O/H  Unnamed: 5  Price       Barcode
9433      ISHA         NaN     1    YB    0         NaN  19.95  842045006254

In [ ]:
if self._check_state['BY'] == 0:
            creds = get_credentials(self._root_path)

            with open(self._root_path+'appdata/gmail_auth.json') as f:
                temp = json.load(f)
                email_user = temp['username']
                email_password = temp['password']
            
            auth_string = f"user={email_user}\x01auth=Bearer {creds.token}\x01\x01"

            mail = imaplib.IMAP4_SSL('imap.gmail.com')
            mail.authenticate('XOAUTH2', lambda x: auth_string)
            mail.select('"[Gmail]/All Mail"')

            status, messages = mail.search(None, f'SUBJECT {self.BY_mail["SUBJECT"]} FROM {self.BY_mail["FROM"]}')

            if status == 'OK':
                # Convert messages list from bytes to list of email IDs
                messages = messages[0].split()

                res, msg = mail.fetch(messages[-1], '(RFC822)')

                decoded_msg = email.message_from_bytes(msg[0][1])
                date_recieved = datetime.datetime.strptime(decoded_msg.get('Date'), "%a, %d %b %Y %X %z")
                self.update_history.loc[self.update_history['Initial']=='BY', 'Date'] = date_recieved.strftime("%d-%b")

                for part in decoded_msg.walk():
                    if part.get('Content-Disposition'):
                        filename = part.get_filename()
                        with open(self._root_path+'inv_data/BY_InventoryListAll.xls', 'wb') as f:
                            f.write(part.get_payload(decode=True))
                        print(f'BY - {filename} downloaded')
            else:
                print("Failed to retrieve emails.")

            mail.close()
            mail.logout()

        # load new inv data
        # filename = QFileDialog.getOpenFileName(self, "Select File BOYANG (BY)", "./", "Any Files (*)")
        # new_inv = pd.read_excel(filename[0], skiprows=3)
        new_inv = pd.read_excel(self._root_path+'inv_data\BY_InventoryListAll.xls', skiprows=3)

        # get column name for choose upc / company inventory / description / extended description columns
        column_list = list(new_inv.columns)

        # Select Company name
        # company_list = ['AL', 'VF', 'BY', 'OUTRE','HZ']
        comp_name = 'BY'

        # Select UPC column
        itemlookupcode = 'Barcode'

        # Select Company Inventory column
        comp_inv = 'O/H'

        # Select Description column
        description = 'Item Name'

        # Select Extended Description column
        ext_desc = 'Color'

        # Merge needed columns
        new_inv = new_inv[[itemlookupcode, comp_inv, description, ext_desc]]

        new_inv.insert(0, 'Company', comp_name)

        # rename columns
        new_inv.columns = self.column_name

        # pre processing
        new_inv = new_inv.dropna(subset=['UPC', 'company Inventory'])
        new_inv['company Inventory'] = new_inv['company Inventory'].astype('int')
        # new_inv['UPC'] = new_inv['UPC'].astype('int64')
        new_inv.loc[new_inv['company Inventory']<10, 'company Inventory'] = 0

        # delete exist data
        self.all_upc_inv.drop(self.all_upc_inv[self.all_upc_inv['COMPAY']==comp_name].index, inplace=True)

        # 
        self.all_upc_inv = pd.concat([self.all_upc_inv, new_inv])

        # reset index
        self.all_upc_inv = self.all_upc_inv.reset_index(drop=True)

        # self.update_history.loc[self.update_history['Initial']==comp_name, 'Date'] = datetime.date.today().strftime("%d-%b")
        # QMessageBox.information(self, "Info", "Updated")